<template>
  <div class="home content">
    <div id="largeCells">
      <itemDisplay
        style="background: linear-gradient(120deg, #ffe2ab, #12a8ff);"
        value='מוצרי מדור פל"א'
        bg="space.svg"
      ></itemDisplay>
      <itemDisplay
        style="background: linear-gradient(120deg, #ffabab, #ff9512);"
        value='מוצרי מדור טי"ל'
        bg="rocket.svg"
      />
      <itemDisplay value="לומדות" bg="computer.svg" />
    </div>
    <div id="flexcontent">
      <div id="caru3">
        <h3><i class="icofont-star"></i> מומלץ</h3>
        <flickity
          class="caru"
          ref="flickity1"
          :options="flickityOptions"
          v-on:staticClick="focusItem"
        >
          <itemDisplay value="מוצר בדיקה" bg="2622.svg" />
          <itemDisplay value="מוצר" />
          <itemDisplay value="אהלן שלום לכם חתול בלה בלה בלה בלה" />
          <itemDisplay value="nhtu" />
          <itemDisplay value="asdasf" />
          <itemDisplay value="12334sdf" />
          <itemDisplay value="@@@@@" />
          <itemDisplay value="#woof" />
        </flickity>
        <h3><i class="icofont-bullhorn"></i> חדש</h3>
        <flickity class="caru" ref="flickity2" :options="flickityOptions">
          <itemDisplay value="מוצר בדיקה" />
          <itemDisplay value="מוצר" />
          <itemDisplay value="אהלן שלום לכם חתול בלה בלה בלה בלה" />
          <itemDisplay value="nhtu" />
          <itemDisplay value="asdasf" />
          <itemDisplay value="12334sdf" />
          <itemDisplay value="@@@@@" />
          <itemDisplay value="#woof" />
        </flickity>
        <h3><i class="icofont-refresh"></i> מעודכן</h3>
        <flickity class="caru" ref="flickity3" :options="flickityOptions">
          <itemDisplay :value="'מוצר ' + n" v-for="n in 12" :key="n" />
        </flickity>
      </div>
      <div id="sidebar">
        <imageCaru />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import itemDisplay from "@/components/itemDisplay.vue";
import Flickity from "vue-flickity";
import imageCaru from "@/components/imageCaru";

export default {
  name: "Home",
  components: {
    itemDisplay,
    Flickity,
    imageCaru
  },
  data() {
    return {
      flickityOptions: {
        pageDots: false,
        wrapAround: true,
        autoPlay: 4500,
        rightToLeft: true,
        freeScroll: true
      },
      prevElm: false
    };
  },
  methods: {
    resize() {
      this.$refs.flickity1.rerender();
      this.$refs.flickity2.rerender();
      this.$refs.flickity3.rerender();
    },
    focusItem(elm) {
      if (this.prevElm) {
        this.prevElm.classList.remove("is-clicked");
      }
      elm.classList.add("is-clicked");
      this.prevElm = elm;
    },
    removeFocus() {
      if (this.prevElm) {
        this.prevElm.classList.remove("is-clicked");
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      var testthis = this;

      this.resize();

      this.$refs.flickity1.on("staticClick", function(
        event,
        pointer,
        cellElement,
        // eslint-disable-next-line no-unused-vars
        cellIndex
      ) {
        if (!cellElement) {
          return;
        }
        testthis.focusItem(cellElement);
      });
      this.$refs.flickity2.on("staticClick", function(
        event,
        pointer,
        cellElement,
        // eslint-disable-next-line no-unused-vars
        cellIndex
      ) {
        if (!cellElement) {
          return;
        }
        testthis.focusItem(cellElement);
      });
      this.$refs.flickity3.on("staticClick", function(
        event,
        pointer,
        cellElement,
        // eslint-disable-next-line no-unused-vars
        cellIndex
      ) {
        if (!cellElement) {
          return;
        }
        testthis.focusItem(cellElement);
      });
      // eslint-disable-next-line no-unused-vars
      this.$refs.flickity1.on("dragStart", function(event, pointer) {
        testthis.removeFocus();
      });
      // eslint-disable-next-line no-unused-vars
      this.$refs.flickity1.on("change", function(index) {
        //testthis.removeFocus();
      });
      // eslint-disable-next-line no-unused-vars
      this.$refs.flickity2.on("dragStart", function(event, pointer) {
        testthis.removeFocus();
      });
      // eslint-disable-next-line no-unused-vars
      this.$refs.flickity2.on("change", function(index) {
        //testthis.removeFocus();
      });
      // eslint-disable-next-line no-unused-vars
      this.$refs.flickity3.on("dragStart", function(event, pointer) {
        testthis.removeFocus();
      });
      // eslint-disable-next-line no-unused-vars
      this.$refs.flickity3.on("change", function(index) {
        //testthis.removeFocus();
      });
    });
  }
};
</script>

<style>
#largeCells {
  display: flex;
  flex-wrap: wrap;
  font-size: 150%;
  margin: 0px 12vw;
  justify-content: space-evenly;
}
#largeCells div img {
  opacity: 1 !important;
}
.caru .flickity-button {
  height: 86%;
  border-radius: 0;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 25%, 0.6),
    hsla(0, 0%, 79%, 0)
  ) !important;
}
.caru .flickity-button-icon:hover {
  opacity: 1 !important;
}
.caru .flickity-button-icon {
  color: white;
  opacity: 0.3;
}
.caru .flickity-prev-next-button.next {
  left: 0;
}
.caru .flickity-prev-next-button.previous {
  right: 0;
  background: linear-gradient(
    -90deg,
    hsla(0, 0%, 25%, 0.6),
    hsla(0, 0%, 79%, 0)
  ) !important;
}
.caru .flickity-button:active {
  opacity: 1;
}
.caru .flickity-button-icon:active {
  opacity: 0.6 !important;
}
h3 {
  padding-right: 1em;
  font-size: 1.4em;
}
.caru {
  /*width: 55%;*/
  margin: 2em;
}
#flexcontent {
  display: flex;
  width: 100%;
  margin-bottom: 5em;
}
#caru3 {
  flex: 1;
}
</style>
<style>
.fontImage {
  height: 1em;
}
@media only screen and (orientation: portrait) {
  #sidebar {
    display: none;
  }
}
</style>
