<template>
  <flickity
    id="imgCaru"
    class="imgCaru"
    ref="imgCaru"
    :options="flickityOptions"
    v-if="images.length > 0"
  >
    <imageItem v-for="pic in images" :key="pic.id" :picsrc="pic.pathLong" />
  </flickity>
</template>

<script>
import Flickity from "vue-flickity";
// eslint-disable-next-line no-unused-vars
import flickityfade from "flickity-fade";
import imageItem from "@/components/imageItem.vue";
//import Vue from "vue";

export default {
  name: "imageCaru",
  components: {
    Flickity,
    imageItem
  },
  data() {
    return {
      images: [],
      flickityOptions: {
        imagesLoaded: true,
        pageDots: true,
        prevNextButtons: false,
        wrapAround: true,
        autoPlay: 6000,
        rightToLeft: true,
        freeScroll: false,
        setGallerySize: false,
        fade: true,
        draggable: false
      }
    };
  },

  mounted() {
    this.importAll(
      require.context("@/assets/carusel/", true, /\.png$|\.jpg$|\.jpeg$/)
    );
  },

  methods: {
    importAll(r) {
      r.keys().forEach(key =>
        this.images.push({ pathLong: r(key), pathShort: key })
      );
    }
  }
};
</script>

<style scoped>
.imgCaru {
  margin: 2em;
  width: 26em;
  background-color: black;
  height: 37em;
}
.imgCaru .carousel-cell {
  width: 100%;
}
</style>
