<template>
  <div>
    <img :src="picsrc" />
  </div>
</template>

<script>
export default {
  name: "imageItem",
  props: ["picsrc"],
  data() {
    return {};
  }
};
</script>

<style scoped>
img {
  width: 26em;
}
div {
  display: flex;
}
</style>
