<template>
  <div tabindex="-1" ref="item" class="item" @click="/*handleFocus()*/">
    <span>{{ value }}</span>
    <img v-if="bg" :src="resolve_img_url(bg)" />
  </div>
</template>

<script>
export default {
  name: "itemDisplay",
  props: ["value", "bg"],
  methods: {
    resolve_img_url: function(path) {
      let images = require.context("../assets/", false, /\.png$|\.jpg$|\.svg$/);
      return images("./" + path);
    },
    handleFocus() {
      this.$nextTick(() => this.$refs.item.focus());
    }
  }
};
</script>

<style src="../css/icofont.min.css"></style>
<style scoped>
.item {
  width: 10em;
  height: 5em;
  display: inline-flex;
  background-color: aqua;
  font-family: sans-serif;
  padding: 0.5em 1em;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0.25em;
  background: linear-gradient(120deg, #b6ffab, hsl(205, 100%, 50%));
  user-select: none;
  cursor: pointer;
  transition: box-shadow 0.7s;
  outline: none;
}
.item span {
  font-size: 1.5em;
  text-align: center;
  width: inherit;
  word-break: break-word;
  z-index: 1;
  transition: color 1s;
}
img {
  height: 6em;
  z-index: 0;
  position: absolute;
  filter: contrast(0.3);
  opacity: 0.4;
  z-index: 0;
  mix-blend-mode: color-dodge;
  outline: none;
  transition: opacity 1s;
}

.is-clicked {
  transform: rotateX(180deg);
  transition: 1s;
  box-shadow: inset 0 0 8px 0px black;
}
.is-clicked span {
  transition: 0.5s;
  color: transparent;
}
.is-clicked img {
  transition: 0.5s;
  opacity: 0;
}
</style>
