<template>
  <footer class="primary">
    <div style="flex-grow: 1; flex-basis: 0; margin: auto;">
      <img
        style="height: 7em;float: right; margin: 0px 22px;"
        class="footerImg"
        src="../assets/oref.png"
        alt="פיקוד העורף"
      />
    </div>
    <div
      style="flex-grow: 2; flex-basis: 0; display: flex; flex-direction: column;justify-content: space-around;"
    >
      <div style="display: flex; align-self: center;">
        <!--button class="gBtn gBtnRound icofont-envelope"></!--button>
                <button class="gBtn icofont-globe"><span>בדיקה</span></button!-->
        <a class="icofont-envelope linkBtn"><span>פל"א</span></a>
        <a class="icofont-youtube-play linkBtn"><span>פל"א</span></a>
        <a class="icofont-globe linkBtn"><span>אתר פקע"ר</span></a>
        <a class="icofont-youtube-play linkBtn"><span>טי"ל</span></a>
        <a class="icofont-envelope linkBtn"><span>טי"ל</span></a>
      </div>
      <span>אתר זה פותח על ידי מדור פלא בשיתוף מדור טיל פקער</span>
      <span>&#169; פל"א - 2020</span>
    </div>
    <div style="flex-grow: 1; flex-basis: 0;">
      <img
        style="float: left; margin-left: 22px;"
        class="footerImg"
        src="../assets/peleLogo.png"
        alt="מדור פלא"
      />
      <img
        style="float: left; margin-left: 22px;"
        class="footerImg"
        src="../assets/tilLogo.png"
        alt="מדור טיל"
      />
    </div>
  </footer>
</template>

<script>
export default {
  name: "mFooter"
};
</script>

<style src="../css/stylesheet.css"></style>
<style src="../css/icofont.min.css"></style>
<style scoped></style>
