<template>
  <header class="primary">
    <h1>
      <span>🌌</span>
      פורטל מדורי <br />
      פיתוח הדרכה
    </h1>
    <button
      id="homebtn"
      v-on:click="$router.push({ name: 'Home' })"
      class="headBtn icofont-home"
    >
      <span class="icofont-home"></span>
    </button>
    <button
      id="listbtn"
      v-on:click="$router.push({ path: '/list' })"
      class="headBtn icofont-listine-dots"
    >
      <span class="icofont-listine-dots"></span>
    </button>
  </header>
</template>

<script>
export default {
  name: "mHeader"
};
</script>

<style src="../css/stylesheet.css"></style>
<style src="../css/icofont.min.css"></style>
<style scoped></style>
