html{
    font-family: sans-serif;
    direction: rtl;
    height: 100%;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    outline: none !important;
    height: 100%;
}
header{
    display: flex;
    background: hsla(0, 0%, 90%,1);
    /*border-bottom: 1px solid #b67100;*/
    padding: 0 18px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 11px 0px black;
}
footer{
    background-color: #e6e6e6;
    margin: 34px 0 0 0;
    text-align: -webkit-center;
    padding: 12px;
    line-height: 1.5em;
    bottom:0;
    margin-top: auto;
    /*box-shadow: 0px -4px 11px 0px black;*/
    display: flex;
    flex-wrap: nowrap;
}
footer span{
    display: table;
}
h1{
    font-weight: 100;
    flex-grow: 2;
}
h1 span{
    float: right;
    font-size: 1.6em;
    color:#3500ff;
    margin-left: 10px;
}
.primary{
    --pL: #ffd048;
    --p: #ee9f02;
    --pD: #b67100;
}
.secondery{
    --pL: #67daff;
    --p: #03a9f4;
    --pD: #007ac1;
}


input[type="text"]{
    border-radius: 10px;
    padding: 7px;
    outline: none !important;
    border: none;
    transition: 0.5s;
    /*top: 3px;*/
    position: relative;
    box-shadow: 0px 0px 0px 1px #adadad inset;
}

input[type="text"]:focus{
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 0px 2px var(--p) inset;
    padding: 7px;
    outline: none !important;
}

/* Button 5 */
.headBtn {
	cursor: pointer;
	/*padding: 25px 80px;*/
	display: inline-block;
	margin: auto 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    background: var(--p);/*#823aa0*/;
	color: #fff;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 24px;
	font-size: 1rem;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border: none;
    border-radius: 13px;
    font-weight: 700;
}
.headBtn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.headBtn:active {
	background: var(--pD);/*#9053a9;*/
	top: 2px;
}

.headBtn span {
	display: inline-block;
	/*height: 100%;*/
	width: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
    backface-visibility: hidden;
    font-family: sans-serif;
    margin: auto;
    font-weight: 100;
    font-size: 180%;
}

.headBtn:before {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    left: 0;
    top: -100%;
    line-height: 3.5;
    font-size: 120%;
    font-family: sans-serif;
}

.headBtn:active:before {
	color: var(--pL)/*rgb(46, 46, 46)#703b87*/;
}

/* Button 5a */
.headBtn:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.headBtn:hover:before {
	top: 0;
}

#homebtn::before {
    content: "בית";
}

#listbtn::before {
    content: "קטלוג";
}
.footerImg{
    height: 8em;
}

.gBtn {
    cursor: pointer;
	/*padding: 25px 80px;*/
	display: inline-block;
	margin: auto 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
	outline: none;
	position: relative;
    background: var(--p);/*#823aa0*/;
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 24px;
	overflow: hidden;
    backface-visibility: hidden;
    border: none;
    border-radius: 50px;
    border-radius: 5px;
    background: var(--p);
	color: #fff;
	box-shadow: 0 6px var(--pD);
	-webkit-transition: none;
	-moz-transition: none;
    transition: none;
    margin-bottom: 10px;
    text-align: inherit;
    font-family: sans-serif;
}

.gBtn:hover {
	box-shadow: 0 4px var(--pD);
	top: 2px;
}

.gBtn:active {
	box-shadow: 0 0 var(--pD);
	top: 6px;
}

.gBtnRound{
    border-radius: 50px;
}

.gBtn::before{
    font-size: 1.7em;
    font-weight: 100;
}

.linkBtn{
    font-size: 2.4em;
    color: black;
    margin: 0px 9px;
    transition: 0.35s;
    cursor: pointer;
}
.linkBtn span{
    font-size: 0.4em;
    font-family: sans-serif;
    color: black;
}

.linkBtn:hover{
    color: #585858;
    transform: translateY(-10px);
}
