<template>
  <div id="app">
    <mHeader />
    <router-view />
    <mFooter />
    <img id="dogtax" style="display:none" src="./assets/COLLAGE.jpg" />
  </div>
</template>

<script>
import mHeader from "./components/mHeader.vue";
import mFooter from "./components/mFooter.vue";

export default {
  name: "App",
  components: {
    mHeader,
    mFooter
  }
};
</script>

<style>
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
</style>
